#shanbay-free-hint {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    height: 28px;
    position: absolute;
}

.free-hint-btn {
    float: left;
    width: 167px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    color: #333;
}

.free-hint-btn:hover {
    background-color: #F8C1AB;
}

#shanbay-word-helper {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 10px 10px;
    width: 276px;
    background-color: #FFF;
    position: absolute;
}

#shanbay-ext-word-top {
    margin-bottom: 10px;
}

#shanbay-ext-word {
    color: #000;
    text-decoration: none;
    font-size: 25px;
    line-height: 28px;
}

.shanbay-ext-word-btn, .shanbay-ext-word-btn:hover {
    vertical-align: middle;
    cursor: pointer;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 4px 12px;
    color: #FFF;
    float: right;
    line-height: 20px;
}

#shanbay-forget-word {
    background-color: #ea8c00;
}

#shanbay-forget-word:hover {
    background-color: #c97900;
}

#shanbay-add-word {
    background-color: #17A086;
}

#shanbay-add-word:hover {
    background-color: #048e74;
}

.shanbay-defn-pos {
    font-weight: bold;
}

#shanbay-word-retention-bar {
    margin-top: 10px;
    height: 10px;
    background-color: #CCC;
}

#shanbay-word-retention {
    background-color: #009966;
    height: 10px;
}
